<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include partials/head.ejs %>
  </head>
  <body>
    <h2><%= title %></h2>
    <p>Monthly Expenses:</p>
    <h3><%= label %></h3>
    <h3>Total: <%= total %></h3>
    <h3>Total Investments: <%= totalInvestments %></h3>
    <h3>Total Expenditure: <%= totalExpenditures %></h3>
    <br/>
    <br/>
    <div>
      <div id='expenditureInvestmentChartContainer'>
        <canvas id="expenditureInvestmentChart" width="200" height="200"></canvas>
      </div>
      <br/>
      <div id="expenditureBreakupChartContainer">
        <canvas id="expenditureBreakupChart" width="200" height="200"></canvas>
      </div>
    </div>
    <br/>
    <br/>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">CreateTime</th>
            <th scope="col">Category</th>
            <th scope="col">Recipient</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Tags</th>
          </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < expenseItems.length; i++) { %>
                <tr>
                  <td><%= expenseItems[i].createtime.toLocaleDateString(undefined, {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}) %></td>
                  <td><%= expenseItems[i].category %></td>
                  <td><%= expenseItems[i].recipient %></td>
                  <td><%= expenseItems[i].description %></td>
                  <td><%= expenseItems[i].amount %></td>
                  <td><%= expenseItems[i].tags %></td>
                </tr>
             <% } %>
        </tbody>
      </table>
    </div>
    <script src='/scripts/chart.js'></script>
    <script>
      var context = document.getElementById('expenditureInvestmentChart');
      var expenditureInvestmentChart = new Chart(context, {
        type: 'bar', 
        data: {
          labels: ['Investment', 'Expenditure'],
          datasets: [{
            label: 'Investment vs Expenditure',
            data: [<%=totalInvestments%>, <%=totalExpenditures%>],
            borderWidth: 1,
            backgroundColor :[
            'rgba(75, 192, 192, 1)',
            'rgba(255, 129, 102, 1)'
            ]
          }]
        },
        options:{
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
        }
      },
      );
      var dynamicColors = function() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
      }
      var expenditureContext = document.getElementById('expenditureBreakupChart');
      var expenditureChart = new Chart(expenditureContext, {
        type: 'bar', 
        data: {
          labels: <%-JSON.stringify(expenditureLabels)%>,
          datasets: [{
            label: 'Expenditure Breakup',
            data: <%-JSON.stringify(expenditureData)%>,
            borderWidth: 1,
            backgroundColor: dynamicColors()
          }]
        },
        options:{
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
        }
      },
      );
    </script>
  </body>
</html>